
* {
    margin: 0;
    padding: 10;
    box-sizing: inherit;
  }
  
  html {
    font-size: 85.5%;
    box-sizing: border-box;
    color: rgb(98, 11, 238);
  }


body {
    font-family: 'Noto Serif', sans-serif;
    color: rgb(98, 11, 238);
    background-color: #faf4da;
    height: 75vh;
    padding: 2rem;
    text-align: center;
  }

  .first{
    color:#5f97b9;
    padding: 1%;
    font-size: large;
  }
  .num_turns_left {
    text-align: left;
    color: rgb(98, 11, 238);
}
  .num_tries  {
    text-align: left;
    color: rgb(98, 11, 238);
}

  .guess_word {
    text-align: center;
    
    color: rgb(104, 108, 238);
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(60deg,#b16ec4,#5f97b9);
    font-size: xx-large;
  }

  .status {
    height: 20%;
    text-align: center;
    padding: 1%;
    color: rgb(104, 108, 238);
    font-size: 30%;
    font-size: large;
    font-weight: 300;
    
  }
  .game_input {
    font-size: x-large;
    color: rgb(5, 5, 5);
    height: 10vh;
    padding: 2rem;
    text-align: center;

  }
  .game_stats {
    color: rgb(5, 5, 5);
    height: 40%;
    padding: 0%;
    text-align: left;
    text-size-adjust: 54;
    font-size: large;

  }
  .hangman{
    position: relative;
    padding: 0%;
    width: 30%;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }
  .game_options {
    color: rgb(5, 5, 5);
    padding: 1%;
    text-align: center;
    font-size: medium;
    line-height: 15%;
  }
  .game_buttons{
    padding-top: 2%;
  }
  .footer{
    padding: 5%;
  }

  .hidden {
    display: none;
  }
